<section class="blog-list">
  <div class="flex-between">
    <h2 class="blog-list__title">Latest Post</h2>
    <app-select
      wrapperClassName="blog-list__filter"
      label="Filter by Tags"
      [selectedTags]="blogTags"
      [isFilterCase]="true"
      (OnSelectedTags)="getFilteredTags($event)"
      (OnUnSelectFilterTags)="removeFilteredTag($event)"
    ></app-select>
  </div>

  <div class="blog-list__container">
    <ng-container *ngIf="filteredBlogs.length; else emptyBlogsMessage">
      <ng-container *ngFor="let blog of filteredBlogs">
        <app-blog [blog]="blog"></app-blog>
      </ng-container>
    </ng-container>
  </div>

  <ng-template #emptyBlogsMessage>
    <strong class="blog-list__blank-message">Sorry, No Blogs Found</strong>
  </ng-template>
</section>
