@import "../style/variable.scss";

.header {
  color: $black-color-600;
}
.page-title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25rem;

  &__link {
    color: inherit;
  }
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  column-gap: 0.625rem;

  &__message {
    font-weight: 400;
  }

  &__user-name {
    color: $sky-color-300;

    .name {
      color: inherit;
      text-transform: capitalize;
    }
  }

  &__link {
    color: $sky-color-300;
  }
}

.icon-button {
  &__check-out {
    width: 1rem;
    height: 1rem;

    svg {
      fill: red;
    }
  }
}
