<header class="flex-between header">
  <h1 class="header-title">
    <a
      class="header-title__link"
      [routerLink]="['/home', { showSearchBox: true }]"
      >WellBlog</a
    >
  </h1>

  <div class="flex-end greeting--wrapper">
    <app-input
      *ngIf="showSearchBox"
      type="text"
      wrapperClassName="header__search-wrapper"
      placeholder="Search"
      className="search-box"
    >
      <span
        class="icon-button search-icon"
        matTooltipClass="tooltip-custom"
        matTooltip="Search"
        matTooltipPosition="right"
      ></span>
    </app-input>

    <div class="greeting">
      <ng-container *ngIf="isLoggedIn; else loggedOutView">
        <div class="greeting__message">Welcome</div>
        <div class="greeting__user-name">
          <a class="name" [routerLink]="['/me']">
            {{ loggedInUser?.firstName }}
          </a>
        </div>
        <app-button
          className="icon-button"
          matTooltipClass="tooltip-custom"
          matTooltip="Log out"
          matTooltipPosition="below"
          (click)="onLogOut()"
        >
          <span class="icon-button__check-out"></span>
        </app-button>
      </ng-container>

      <ng-template #loggedOutView>
        <a class="greeting__link" routerLink="/login">Login</a>
        <span>/</span>
        <a class="greeting__link" routerLink="/register">Signup</a>
      </ng-template>
    </div>
  </div>
</header>
