$white-color: #ffffff;

// black colors
$black-color-50: #f4f4f5;
$black-color-75: #c9c6c6;
$black-color-100: #97989f;
$black-color-200: #696a75;
$black-color-300: #3b3c4a;
$black-color-400: #181a2a;
$black-color-600: #000000;

// sky color
$sky-color-300: #49a4cb;

// blue color
$blue-color-500: #4b6bfb;

// red color
$red-color-500: #fd1a1a;

// icons sourse
$search-icon: "../../assets/icons/search-icon.svg";
$search-icon-blue: "../../assets/icons/search-icon-blue.svg";

$plus-icon: "../../../assets/icons/plus-icon.svg";
$plus-icon-blue: "../../../assets/icons/plus-icon-blue.svg";

$edit-icon: "../../../assets/icons/edit-icon.svg";
$edit-icon-blue: "../../../assets/icons/edit-icon-blue.svg";
