$white-color: #ffffff;

$black-color-50: #f4f4f5;
$black-color-75: #c9c6c6;
$black-color-100: #97989f;
$black-color-200: #696a75;
$black-color-300: #3b3c4a;
$black-color-400: #181a2a;
$black-color-600: #000000;

$sky-color-300: #49a4cb;

$blue-color-500: #4b6bfb;

$red-color-500: #fd1a1a;
