@import "../../../assets/style/variable.scss";

.loader {
  border: 0.5rem solid $black-color-50;
  border-top: 0.5rem solid $sky-color-300;
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  animation: spin 2s linear infinite;
  margin: 4rem auto 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
