<section class="form-wrapper">
  <h1 class="form-title">Login Form</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
    <app-input
      type="text"
      placeholder="user name"
      label="User Name"
      className="user-name"
      [control]="getControlName(loginForm, 'userName')"
    >
      <small
        class="form__error-message"
        *ngIf="loginForm.get('userName')?.touched && loginForm.get('userName')?.errors?.['required']"
      >
        *User is required
      </small>

      <small
        class="form__error-message"
        *ngIf="loginForm.get('userName')?.touched && !loginForm.get('userName')?.errors?.['required']  && loginForm.get('userName')?.errors?.['registeredUser']"
      >
        *You need to registered first
      </small>
    </app-input>

    <app-input
      type="password"
      placeholder="enter your password"
      label="Password"
      className="password"
      [control]="getControlName(loginForm, 'password')"
    >
      <small
        class="form__error-message"
        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
      >
        *Password is required
      </small>

      <small
        class="form__error-message"
        *ngIf="loginForm.get('password')?.touched && !loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.errors?.['validPassword']"
      >
        *Please enter valid password.
      </small>
    </app-input>

    <br />
    <br />

    <app-button [disabled]="!loginForm.valid" className="primary-button--center"
      >Login</app-button
    >
  </form>
  <p>Didn't registered? Please <a routerLink="/register">Sing Up</a></p>
</section>
