@import "../../../assets/style/variable.scss";

.form {
  &__textarea {
    background-color: $white-color;
    border-radius: 0.3rem;
    border: 0.125rem solid $black-color-60;
    display: block;
    height: 30rem;
    padding: 0.6rem 1rem;
    resize: none;
    width: 100%;
  }

  &__group--info {
    .form__textarea {
      height: 9.5rem;
    }
  }
}
