@import "../../style/variable.scss";

.form {
  &__group {
    margin-top: 1.7rem;
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__input {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    border: 0.125rem solid $black-color-100;

    &.ng-touched.ng-invalid {
      border-color: $red-color-500;
    }
  }
}
