<form class="form blog-form">
  <div class="flex tags-wrapper">
    <app-input
      type="text"
      wrapperClassName="form__group--blogs"
      label="Title"
    ></app-input>
    <app-input
      type="text"
      wrapperClassName="form__group--blogs"
      label="Tags"
    ></app-input>
  </div>

  <app-input
    type="file"
    wrapperClassName="form__group--blogs"
    label="Banner Image"
  ></app-input>
  <!-- [control]="getControlName(registrationForm, 'password')" -->

  <app-textarea
    type="password"
    placeholder=""
    wrapperClassName="form__group--blogs"
    label="Body"
  ></app-textarea>

  <div class="flex-center form__button-wrapper">
    <app-button className="primary-button">Submit</app-button>
    <app-button className="secondary-button">Cancel</app-button>
  </div>
</form>
