@import "../../../assets/style/variable.scss";

.blog-form {
  margin-top: 3.2rem;
  padding: 8rem 6rem;
  border-radius: 0.5rem;
  background-color: $black-color-50;
}

.tags-wrapper {
  column-gap: 2rem;
  * {
    flex: 1;
  }
}

.banner-image__file {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.75rem;
  line-height: 1.75rem;
  border-radius: 0.375rem;
  border: 0.125rem solid $black-color-60;
}
