@import "../../../assets/style/variable.scss";

.blog-form {
  margin-top: 3.2rem;
  padding: 8rem 6rem;
  border-radius: 0.5rem;
  background-color: $black-color-50;
}

.tags-wrapper {
  column-gap: 2rem;
  * {
    flex: 1;
  }
}
