<form
  class="form blog--form"
  [formGroup]="blogForm"
  (ngSubmit)="onBlogCreation()"
>
  <div class="flex tags-wrapper">
    <app-input
      type="text"
      wrapperClassName="form__group--blogs"
      label="Title"
      [control]="getControlName(blogForm, 'title')"
    ></app-input>

    <app-select
      wrapperClassName="form__group--blogs"
      className="select-items"
      label="Tags"
      [availableTags]="getControlName(blogForm, 'tags').value"
      [selectedTags]="selectedTags"
      (OnSelectedTags)="getSelectedTag($event)"
      (OnUnSelectTag)="removeUnselectedTags($event)"
      [tagsFromEditedBlog]="unSelectedBlogTags"
    ></app-select>
  </div>

  <app-input
    type="file"
    wrapperClassName="form__group--blogs banner-image"
    label="Banner Image"
    className="banner-image__input"
    inputFileWrapperClass="banner-image__field"
    selectableLabelClass="banner-image__label"
    (OnChangeEvent)="onImageSelection($event)"
  >
  </app-input>
  <span class="flex-center banner-image__file">
    Uploaded file:
    {{ imageFileName?.length ? imageFileName : "No file uploaded" }}
  </span>

  <app-textarea
    label="Body"
    wrapperClassName="form__group--blogs"
    label="Body"
    [isEditable]="true"
    [control]="getControlName(blogForm, 'description')"
  ></app-textarea>

  <div class="flex-center form__button--wrapper">
    <app-button className="primary-button">Submit</app-button>

    <app-button
      className="secondary-button"
      buttonType="button"
      (click)="onCancelClicked()"
      >Cancel</app-button
    >
  </div>
</form>
