<div class="form__select" [class]="wrapperClassName">
  <label *ngIf="label" class="form__label"> {{ label }} </label>
  <div class="flex-start form__selected__field">
    <span
      class="form__selected__item"
      *ngFor="let tag of availableTags; let i = index"
    >
      {{ tag }}
      <span class="close-icon" (click)="cancelButtonClicked(tag, i)"> </span>
    </span>

    <span
      *ngIf="selectedTags.length"
      #dropdownArrow
      class="form__dropdown"
      (click)="dropDownClicked()"
    >
    </span>
  </div>

  <div
    *ngIf="isDropdownVisible && selectedTags.length > 0"
    #dropdownOptionWrapper
    class="select-options--wrapper"
  >
    <ng-container *ngFor="let option of selectedTags; let i = index">
      <div class="select-options" (click)="optionClicked(option, i)">
        <label class="select-options__text"
          ><input type="checkbox" /> {{ option }}</label
        >
      </div>
    </ng-container>
  </div>
</div>
