@import "../../../assets/style/variable.scss";

.blog {
  border-radius: 0.75rem;
  border: 0.063rem solid $sky-color-300;
  height: 100%;
  padding: 1rem;

  &__image {
    border-radius: 0.375rem;
    cursor: pointer;
    width: 100%;
    height: 15rem;

    &--item {
      border-radius: inherit;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__details {
    margin-top: 1rem;
    padding: 0.5rem;
  }

  &__tag {
    flex-wrap: wrap;
    gap: 1rem;

    &__item {
      background-color: $blue-color-100;
      border-radius: 0.375rem;
      color: $blue-color-500;
      font-weight: 500;
      font-size: 0.95rem;
      line-height: 1.25rem;
      padding: 0.5rem 0.9rem;
      text-transform: capitalize;
    }
  }

  &__title {
    cursor: pointer;
    display: -webkit-box;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-top: 1rem;
    min-height: 5.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
  }

  &__creator {
    color: $black-color-100;
    column-gap: 1rem;
    margin-top: 1.25rem;

    &__info {
      column-gap: 0.7rem;
    }

    &__image {
      border-radius: 50%;
      height: 3rem;
      width: 3rem;

      .creator-image {
        border-radius: inherit;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &__name {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      text-transform: capitalize;
    }

    &__created {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
