<form
  class="form form-info"
  [formGroup]="userInfoForm"
  (ngSubmit)="onSubmnitUserInfo()"
>
  <div class="flex-between form-info--wrapper">
    <div class="form-info__details">
      <app-input
        type="text"
        wrapperClassName="form__group--info"
        label="Name"
        [control]="getControlName(userInfoForm, 'name')"
      ></app-input>

      <app-input
        type="text"
        wrapperClassName="form__group--info"
        label="Subtitle"
        [control]="getControlName(userInfoForm, 'subTitle')"
      ></app-input>

      <app-textarea
        placeholder=""
        wrapperClassName="form__group--info"
        label="About"
        [isEditable]="false"
        [control]="getControlName(userInfoForm, 'about')"
      ></app-textarea>
    </div>
    <div class="form-info__image--wrapper">
      <app-input
        type="file"
        wrapperClassName="form__group--info user-image"
        label="Profile Image"
        className="user-image__input"
        inputFileWrapperClass="user-image__field"
        selectableLabelClass="user-image__label"
        (OnChangeEvent)="handleImageChange($event)"
      ></app-input>

      <div class="flex form-info__image-preview">
        <div class="form-info__image-preview__filename">
          Uploaded file:
          {{ profileImageFileName || "no file selected" }}
        </div>
        <div class="form-info__image-preview__image">
          <img class="user-image" [src]="userImageSource" alt="user name" />
        </div>
      </div>
    </div>
  </div>
  <div class="flex-start form__button--wrapper">
    <app-button className="primary-button--purple"> Submit </app-button>
    <app-button
      className="secondary-button--light"
      buttonType="button"
      (click)="resetForm()"
    >
      Cancel
    </app-button>
  </div>
</form>
