<section class="banner">
  <div class="banner__background">
    <img
      class="banner__background__image"
      src="../../../assets/images/banner-image.jpg"
      alt="Blog title"
    />
  </div>

  <div class="banner__description">
    <div class="flex-start banner__description__tags">
      <span class="tag-item">Technology</span>
      <span class="tag-item">Poems</span>
      <span class="tag-item">Politics</span>
    </div>

    <h2 class="banner__description__title">
      The Impact of Technology on the Workplace: How Technology is Changing
    </h2>

    <div class="flex-start banner__description__creator">
      <div class="flex-start creator-info">
        <div class="creator-info__image">
          <img
            class="creator-info__image__item"
            src="../../../assets/images/user-image.png"
            alt="bloger"
          />
        </div>

        <h5 class="creator-info__name">Jason Francisco</h5>
      </div>
      <div class="created-time">August 20, 2022</div>
    </div>
  </div>
</section>
