@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "./assets/style/variable.scss";

// global css
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $black-color-400;
  font-family: "Work Sans", sans-serif;
  line-height: normal;
  width: calc(100% - 0.45rem);
  position: relative;
  overflow-y: scroll;
  scrollbar-width: 0.45rem;
}

a {
  text-decoration: none;
}

textarea,
input,
button {
  font-family: inherit;
  outline: none;
}

a,
button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 1rem 1rem;
  width: 100%;
}

.form {
  &-wrapper {
    background-color: $white-color;
    left: 50%;
    max-width: 44rem;
    padding: 1.4rem 2.2rem;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &__group {
    margin-top: 1.7rem;
    position: relative;

    &--info,
    &--blogs {
      @extend .form__group;
      flex: 1;
      flex-basis: 100%;

      .form__label {
        padding: 0;
      }
    }

    &--info {
      .form__label {
        font-weight: 600;
      }
    }
  }

  &-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 0.65rem;
    margin-bottom: 0.5rem;
    line-height: 1.75rem;
  }

  &__steric {
    left: 0;
    position: absolute;
    top: 0;
  }

  &__error-message {
    color: $red-color-500;
    display: inline-block;
    font-weight: 600;
    margin-top: 0.5rem;
  }

  &__navigation {
    color: $black-color-400;
    font-size: 1rem;
    margin-top: 1.2rem;
    text-align: center;

    &-link {
      color: $blue-color-500;
      font-weight: 500;
    }
  }

  &__button--wrapper {
    margin: 1.5rem 0;
    column-gap: 1.4rem;
  }
}

.button {
  border: none;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.6rem 1.4rem;
  transition: filter 0.3s ease-out;

  &:hover {
    filter: brightness(115%);
  }
}
.primary-button {
  @extend .button;
  background: $sky-color-300;
  color: white;

  &--center {
    @extend .primary-button;
    display: block;
    margin: auto;
    width: fit-content;
  }

  &:active:not(:disabled) {
    transform: translateY(0.125rem);
  }

  &--purple {
    @extend .primary-button;
    background-color: $purple-color-600;
  }
}

.secondary-button {
  @extend .button;
  color: $black-color-400;
  background-color: $black-color-75;

  &--light {
    @extend .secondary-button;
    background-color: $white-color;
    border: 0.063rem solid $black-color-60;

    &:hover {
      filter: brightness(95%);
    }

    &__larger {
      @extend .secondary-button--light;
      border-color: $black-color-200-A40;
      color: $black-color-200;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
      padding: 0.75rem 1.25rem;

      &:hover {
        color: $black-color-400;
      }
    }
  }
}

.icon-button {
  align-items: center;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  height: 1rem;
  width: 1rem;
}

.flex {
  align-items: center;
  display: flex;

  &-center {
    @extend .flex;
    justify-content: center;
  }

  &-between {
    @extend .flex;
    justify-content: space-between;
  }

  &-start {
    @extend .flex;
    justify-content: flex-start;
  }

  &-end {
    @extend .flex;
    justify-content: flex-end;
  }
}

.header__search-wrapper {
  height: 3rem;
  width: 25rem;
  position: relative;

  .search-box {
    background-color: $black-color-50;
    border: none !important;
    height: 100%;
  }
}

.cdk-overlay-container .mat-mdc-tooltip {
  --mdc-plain-tooltip-container-color: #49a4cb;
  --mdc-plain-tooltip-supporting-text-color: white;
  --mdc-plain-tooltip-container-shape: 0.25rem;
  --mdc-plain-tooltip-supporting-text-line-height: 1rem;
  --mdc-plain-tooltip-supporting-text-size: 0.75rem;
  --mdc-plain-tooltip-supporting-text-weight: 500;
  --mdc-tooltip-word-break: normal;
}

.blog-details__description {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b {
    font-weight: 600;
    line-height: 120%;
    margin-top: 2.3rem !important;
  }
  p {
    margin-top: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 150%;
  }
  h5 {
    font-size: 1rem;
    line-height: 150%;
  }
  h5 {
    font-size: 0.875rem;
    line-height: 150%;
  }
}
.tox-statusbar__right-container {
  display: none !important;
}

.error-message {
  margin-top: 4rem;
  color: $red-color-500;
}
